/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@media (prefers-color-scheme: dark) {
  img,
  video {
    filter: brightness(0.8) contrast(1.2);
  }
  body {
    background-color: black;
    color: #f9f9f9;
  }
}
@media (inverted-colors) {
  /* Inverted Color Fix */
  img,
  video {
    filter: invert(100%);
  }
}
